    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
        <head th:replace="~{fragmentos :: imports-css(title='Materiais')}">
            <title>title</title>
        </head>
        <body>
            <div th:replace="~{fragmentos :: barramenu(pagina='Materiais')}"/>

            <div class="container" style="width: 50%; margin-top: 20px">
                <div class="card-header">
                    <h4>CADASTRO DE MATERIAIS
                        <a class="btn btn-primary float-right" th:href="@{~/materiais}" role="button">VOLTAR</a>
                    </h4>
                </div> 
            <div th:replace="~{fragmentos :: mensagens}"></div>
                <form th:object="${material}" th:action="@{~/materiais/material/{id}(id=${material.id})}" method="post" enctype="multipart/form-data" class="card-body p-3 mb-​2 bg-secondary text-white" >
                    
                    <input type="hidden" th:field="*{id}"/>
                    <div class="form-row" >
                        <div class="form-group col-md-6">
                            <label for="título">TÍTULO</label>
                            <input th:field="*{titulo}" type="text" class="form-control"  id="titulo" placeholder="titulo" required="required" />
                        </div>
                        <div class="form-group col-md-6">    
                            <label for="modalidade">SELECIONE A MODALIDADE</label>
                            <select class="form-control" id="topic" th:field="*{modalidade}">
                                <option th:each="modalidade : ${T(br.com.Gerenciador.MD.Gerenciamento.TipoModalidadeEnum).values()}"
                                        th:value="${modalidade}" th:text="${modalidade}">
                                </option>
                            </select>
                         </div>
                        <div class="form-group col-md-2">
                            <label for="campo2">PREÇO</label>
                            <input th:field="*{preco}" type="text" class="form-control"  id="preco" placeholder="Preço" required="required" />
                        </div>
                        <div class="form-group col">
                            <label for="file">ARQUIVO:</label>
                            <input type="file" accept=".pdf" id="file" name="file"/>
                        </div>                     
                    </div>
                    <hr />
                    <div id="actions" class="row">
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-success">SALVAR</button>
                        </div>
                    </div>
                    
                    
                    
                </form>
            
            </div>   
           

        <div th:replace="~{fragmentos :: imports-js}"/>
        <script>

        </script>
    </body>
    <</html>